<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Sockets</title>
</head>

<body>
    <strong>Hi. let's do</strong>
    <h1>Chatting...... Inside <%= groupname %>
    </h1>

    <input type="text" id="input">
    <button id="btn">Send</button>
    <ul id="msg_list">
        <% for(let i=0; i < previousmsg.length; i++) {%>
            <li>
                <%= previousmsg[i].sender %> - <%= previousmsg[i].content %>
            </li>
            <%} %>
    </ul>

    <button id="button">click</button>

    <div id="from_server"></div>


    <script src="/socket.io/socket.io.js"></script>
    <script>

        console.log("Welcome to the web sockets");
        var socket = io();

        let input = document.getElementById("input");
        let msgList = document.getElementById("msg_list");
        let sendBtn = document.getElementById("btn");

        // whenever we render the page we will join the room
        socket.emit('join_room', {
            roomid: '<%= roomid %>',
            sender: '<%= user %>',
        })

        sendBtn.addEventListener("click", function () {
            let msg = input.value;
            socket.emit("new_msg", {
                message: msg,
                roomid: '<%= roomid %>',
                sender: '<%= user %>',
            });
            input.value = "";
        });

        socket.on("msg_rcvd", function (data) {
            let msg = document.createElement("li");
            msg.textContent = data.sender + " - " + data.message;
            msgList.appendChild(msg);
        });

    </script>
</body>

</html>